* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    background: grey;
    vertical-align: baseline;
}

/* Project Typography */
    body {
        font-size: 14px;
        font-family: 'Raleway', Arial, sans-serif;
        color: #2d2d2d;
        line-height: 1;    
    }

    h1, 
    h2, /* Banner, 'Hand Crafted Styles', 'Most Loved Products', 'Sign Up for Updates'*/
    h3 {
        font-family: 'Playfair Display', Arial, sans-serif;
        line-height: 1; 
    }
    h2 {
        font-size: 2.2rem;
    }

    .producttype,  /* also Footer class=address */
    .price {
        color: #969696;
    }

    .wordlinks a,
    .carousel-cell h3 {
        color: #e2574c;
    }

/* Top: Logo Nav Cart */
    .top-nav {
        background-color: white;
        border-bottom: 1px solid #d7d7d7;
        box-shadow: 1px 1px 6px 0px hsla(0, 0%, 39%, .25);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    .top-nav-inner {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: .5rem;
        padding-top: 1rem;
        padding-left: 2%;
        padding-right: 2%;
    }

    .navcontainer { /* http://css.maxdesign.com.au/listutorial/horizontal_master.htm */
        align-self: stretch;
        display: inline-block;
        order: 3;
        flex-basis: 100%;
        padding-top: 0.75rem;
        padding-bottom: 0.25rem;
        border-top: 1px solid rgb(189, 189, 189); /* line */
    }

    .logo {
        order: 1;
        padding-bottom: 0.5rem;
    }

    .logo img {
        max-width: 120px;
    }

    .cart {
        order: 2;
        padding-bottom: 0.5rem;  
    }

    .cart img {
        width: 50px;
    }

    .navcontainer ul {  
        margin: 0;
        list-style-type: none;
        text-align: center;
    }

    .navcontainer ul li {
        display: inline;
    }

    .navcontainer ul li a {
        text-decoration: none;
        padding: .2em 0.85rem;
        background-color: rgb(255, 255, 255);
        font-size: 0.rem;
    }

    .navcontainer ul li a:hover {
        color: #b64036;
        background-color: white;
    }

/* Banner / Current Title  */
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        margin-top: 101px; /* based on header, prevent overlap
        /* background flowers + girl */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.20), rgba(1, 1, 1, 0.20)), url(../images/banner-girl-compressed.png), url(../images/flower-bkgd-compressed.jpg) ;
        background-position: center, center 4em, top;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-size: contain, 150px, cover;
    }       

    .banner h2 {
        font-size: 1.1rem;
        font-family: 'Raleway' ;
        line-height: 3rem;
        color: white;
        text-shadow: 1px 1px 1px grey;    }

    .banner h2 span {
        font-size: 2.2rem;
        font-family: 'Playfair Display';
        color: white;
    }

/* Section1 Hand-Crafted Styles */
    #section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        background: white;
    }

    .section1-about {
        max-width: 720px;
        padding: 3.5em 1.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #section1 h2 {
        text-align: center;
        font-style: italic;
        margin-bottom: 2rem;
    }

    #section1 h2 span{
        font-style: normal;
        font-weight: 800;
    }

    #section1 p {
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
        width: 100%;
    }

/* Shop Grid flexbox */
    .shop-grid-container {
        display: flex;
        flex-wrap: wrap;
    }

    .shopgriditem {
        border: 4px solid #fff;
        display: flex;
        justify-content: center; 
        align-items: center;
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .larger {
        width: 100vw;
        height: 50vw;
        flex: 2 0 100%; 
        /*flex: grow shrink basis  */      
    }

    .smaller {
        width: 50vw;
        height: 50vw;
        flex: 1 0 50%;  
    }

    .shop-grid-container div:nth-child(1) {
        border-left: none;
        border-right: none;
    }

    .shop-grid-container div:nth-child(6) {
        border-right: none;
        border-left: none;
    }

    .shop-grid-container div:nth-child(2) {
        border-left: none;
    }

    .shop-grid-container div:nth-child(3) {
        border-right: none;
    }

    .shop-grid-container div:nth-child(4) {
        border-left: none;
    }

    .shop-grid-container div:nth-child(5) {
        border-right: none;
    }

    .mens {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.20), rgba(1, 1, 1, 0.20)), url(../images/mens-category.jpg);
        background-size: cover;
    }

    .womens {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.20), rgba(1, 1, 1, 0.20)), url(../images/womens-category.jpg);
        background-size: cover;
    }
    .trends {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.20), rgba(1, 1, 1, 0.20)), url(../images/trends-category.jpg);
        background-size: cover;
    }
    .glasses {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.20), rgba(1, 1, 1, 0.20)), url(../images/glasses-category.jpg);
        background-size: cover;
    }
    .sale {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.20), rgba(1, 1, 1, 0.20)), url(../images/sale-category.jpg);
        background-size: cover;
    }
    .bags {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.20), rgba(1, 1, 1, 0.20)), url(../images/bags-category.jpg);
        background-size: cover;
    }

/* Featured Products Carousel  */
    #featuredproducts {
        min-height: 650px;
        background: white;
        /* don't use flexbox when using flickity */
    }

    .carousel-container {
        max-width: 1240px;
        margin: auto;
        text-align: center;
        padding-bottom: 4rem;
    }

    #featuredproducts h2 {
        text-align: center;
        font-style: italic;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #featuredproducts h2 span {
        font-style: normal;
        font-weight: 800;
    }

    .carousel-container .main-carousel {
        max-width: 1240px;
        padding-bottom: 1rem;
    }

    .carousel-cell {
        width: 100%;
    }

    .carousel-cell h3,
    .producttype,
    .price {
        margin-bottom: 1.25rem;
    }

    .carousel-cell h3 {
        font-size: 1.5rem;
    }

    button {
        border-radius: 25px;
        border-style: none;
        background-color: black;
        color: white;
        padding: 0.5em 1rem;   
    }

/* Sign Up Newsletter */
    #newsletter {
        min-height: 350px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.20), rgba(1, 1, 1, 0.20)), url(../images/wave-bkgd.jpg) no-repeat bottom;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    #newsletter .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 720px;
        color: white;
    } 

    #newsletter .container h2 {
        text-align: center;
        font-style: italic;
        margin-bottom: 1.5rem;
        text-shadow: 2px 2px 2px grey;
    }

    #newsletter .container h2 span {
        font-style: normal;
        font-weight: 800;
    }

    #newsletter .container h2 {
        font-family: 'Playfair Display';
        width: 85%;
    }
    #newsletter .container p {
        text-align: center;
        font-size: 1.1rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
        width: 85%;
    }

    .sign-up-form {
        position: relative;
        width: 90%;
    }
    input[type=email] { 
        border: 0;
        border-radius: 25px;
        padding: 1em 1.5rem;
        padding-right: 7.5rem;
        font-size: 1.1rem;
        width: 100%;
    }

    input[type=submit] {
        border: 0;
        border-radius: 25px;
        padding: 0.75em 1rem;
        background-color: #e2574c;
        cursor: pointer;
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); /* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
        right: 1%;
        font-size: 1.1rem;
    }

    input[type=submit]:hover {
        background-color: #b64036
    }

/* Footer bottom */
    footer {
        background: #242424;
        padding: 3em 2rem;
        display: flex;
        justify-content: center;
    }

    footer .container {
        color: white;
        font-family: 'Playfair Display', serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .contact p {
        font-size: 16px;
        line-height: 1.5;
    }

    .copyright, .phone {
        margin-bottom: 1rem;
    }

    .address {
        color: #969696;
    }

    .social-media {
        font-size: 1rem;
        line-height: 2;
        padding-top: 1rem;
    }

    .social-media ul li { 
        display: inline;
    }

    .socialmedianame {
        font-size: 1rem;
        cursor: pointer;
    }

    footer a {
        color: white;
        text-decoration: underline;
    }

    footer .social-media a {
        text-decoration: none;
    }

    footer a:hover {
        color: #b64036;
    }

    footer i {
        width: 2rem;
    }

    .social-media ul li span {
        display: none;
    }


@media screen and (min-width: 600px) {  
/* Project Typography */
    body {
        font-size: 16px;
    }
/* Top: Logo Nav Cart */
    .top-nav-inner {
        display: flex;
        flex-wrap: nowrap;
    }

    .navcontainer { /* http://css.maxdesign.com.au/listutorial/horizontal_master.htm */
        align-self: center;
        vertical-align: middle;
        order: 2;
        flex-basis: 60%;
        border: none;
    }

    .logo {
        flex-basis: 20%;
    }

    .cart {
        text-align: right;
        order: 3;
        flex-basis: 20%;
    }

    .navcontainer ul li a {
        padding: .2em 1rem;
    }

/* Banner / Current Title  */
        .banner {
            height: 400px;
            margin-top: 70px; /* based on header, prevent overlap */
        }       

        .banner h2 {
            line-height: 4rem;
        }

        .banner h2 span {
            font-size: 3rem;
        }

/* Section1 Hand-Crafted Styles */
    .section1-about {
        padding: 4rem;
    }

    #section1 h2 {
        font-size: 2.5rem;
    }

    #section1 p {
        font-size: 1.1rem;
    }

/* Shop Grid flexbox */
    .shopgriditem {
        font-size: 1.25rem;
    }

    .larger {
        width: 50vw;
        height: 25vw;
        flex: 2 0 50%; 
        /*flex: grow shrink basis  */      
    }

    .smaller {
        width: 25vw;
        height: 25vw;
        flex: 1 0 25%;  
    }

    .shop-grid-container div:nth-child(1) {
        border-left: none;
        border-right: 4px solid #fff;
    }

    .shop-grid-container div:nth-child(6) {
        border-right: none;
        border-left: 4px solid #fff;
    }

    .shop-grid-container div:nth-child(2) {
        border-left: 4px solid #fff;
    }

    .shop-grid-container div:nth-child(3) {
        border-right: none;
    }

    .shop-grid-container div:nth-child(4) {
        border-left: none;
    }

    .shop-grid-container div:nth-child(5) {
        border-right: 4px solid #fff;
    }

/* Featured Products Carousel  */
    .carousel-cell {
        width: 50%;
    }

/* Sign Up Newsletter */
    input[type=email] { 
        padding: 1em 1.5rem;
        padding-right: 15rem;
    }

    input[type=submit] {
        padding: 0.75em 2rem;
    }

/* Footer bottom */
    footer {
        padding: 4em 2rem;
    }

    footer .container {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .social-media {
        padding-top: none;
    }

    .social-media ul li { 
        display: block;
    }

    .social-media ul li span {
        display: inline;
    }
}

@media screen and (min-width: 1240px) {
/* Top: Logo Nav Cart */
    .top-nav-inner {
        padding: 1em 1.5rem;
        max-width: 1240px; /* allows div to shrink with zoom */
    }

    .logo img {
        width: 150px;
    }

    .cart img {
        width: 60px;
    }

    .navcontainer ul {  
        padding: 10px 10px;
    }

    .navcontainer ul li a {
        font-size: 1rem;
    }

/* Banner / Current Title  */
    .banner {
        height: 550px; 
        margin-top: 95px; /* based on header, prevent overlap */
        /* background flowers + girl */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.20), rgba(1, 1, 1, 0.20)), url(../images/banner-girl-compressed.png), url(../images/flower-bkgd-compressed.jpg) ;
        background-position: center, center 4em, top; /* girl trial and error */
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-size: contain, 250px, contain; /* girl trial and error */
    }       

    .banner h2 span {
        font-size: 4rem;
    }

/* Shop Grid flexbox */
    .shopgriditem {
        font-size: 2.25rem;
    }

/* Featured Products Carousel  */
    .carousel-cell {
        width: 25%;
    }

/* Sign Up Newsletter */
    #newsletter {
        background-size: cover;
    }

/* Footer bottom */
    footer {
        padding: 4em 10rem;
    }

    footer .container {
        max-width: 1240px;
    }
}